<h1>Welcome to Library System</h1>

<%= form_tag search_resources_path, method: :get do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search books or journals..." %>
  <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), prompt: "Select Category" %>
  <%= submit_tag "Search" %>
<% end %>

<h2>Latest Books</h2>
<%= render partial: "books/book", collection: @latest_books %>

<h2>Latest Journals</h2>
<%= render partial: "journals/journal", collection: @latest_journals %>

<p><%= link_to "Search for Resources", search_resources_path %></p>
<p><%= link_to "Sign up for an account", new_user_registration_path %></p>
