<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome to Our Library</h1>
      <h2 class="subtitle">Discover our collection of books and journals</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <!-- Search Form -->
    <div class="box">
      <%= form_tag search_path, method: :get, class: "field has-addons has-addons-centered" do %>
        <div class="control is-expanded">
          <%= text_field_tag :query, params[:query], class: "input is-medium", placeholder: "Search for books or journals..." %>
        </div>
        <div class="control">
          <button class="button is-primary is-medium">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
          </button>
        </div>
      <% end %>
    </div>

    <!-- Featured Resources -->
    <div class="columns is-multiline mt-6">
      <div class="column is-12">
        <h2 class="title is-3">Latest Books</h2>
      </div>
      <%= render partial: "books/book_card", collection: @latest_books, as: :book %>
    </div>

    <div class="columns is-multiline mt-6">
      <div class="column is-12">
        <h2 class="title is-3">Latest Journals</h2>
      </div>
      <%= render partial: "journals/journal_card", collection: @latest_journals, as: :journal %>
    </div>
  </div>
</section>

<p><%= link_to "Search for Resources", search_resources_path %></p>
<p><%= link_to "Sign up for an account", new_user_registration_path %></p>
