<div class="resource-details">
  <h1><%= @resource.title %></h1>
  
  <div class="availability-status">
    Status: <%= @resource.available? ? "Available" : "Not Available" %>
  </div>
  
  <div class="resource-info">
    <p>Published: <%= @resource.publish_year %></p>
    <p>Language: <%= @resource.language %></p>
    <p>Publisher: <%= @resource.publisher %></p>
    
    <% if @resource.is_a?(Book) %>
      <p>Author: <%= @resource.author %></p>
    <% else %>
      <p>Volume: <%= @resource.volume %></p>
      <p>Issue: <%= @resource.issue %></p>
    <% end %>
    
    <% if @resource.description.present? %>
      <p>Description: <%= @resource.description %></p>
    <% end %>
  </div>
  
  <%= link_to "Reserve", login_path, class: "reserve-button" if @resource.available? %>
</div>
