<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <div class="box has-background-info-light">
          <!-- Header -->
          <div class="has-text-centered mb-6">
            <span class="icon is-large has-text-info">
              <i class="fas fa-key fa-2x"></i>
            </span>
            <h1 class="title is-3 mt-2">Reset Password</h1>
            <p class="subtitle is-6 has-text-grey">
              Enter your email address and we'll send you password reset instructions
            </p>
          </div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <div class="control has-icons-left">
                <%= f.email_field :email, 
                    autofocus: true, 
                    autocomplete: "email", 
                    class: "input is-medium", 
                    placeholder: "Your email address" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field mt-5">
              <%= f.submit "Send Reset Instructions", 
                  class: "button is-info is-fullwidth is-medium" %>
            </div>
          <% end %>

          <div class="has-text-centered mt-5">
            <%= link_to new_session_path(resource_name), 
                class: "has-text-info has-text-weight-medium" do %>
              <span class="icon-text">
                <span class="icon">
                  <i class="fas fa-arrow-left"></i>
                </span>
                <span>Back to login</span>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
