<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item" do %>
        <span class="icon">
          <i class="fas fa-book-reader fa-lg"></i>
        </span>
        <span class="has-text-weight-bold ml-2">Library System</span>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", root_path, class: "navbar-item" %>
        
        <%= link_to search_resources_path, class: "navbar-item" do %>
          <span class="icon-text">
            <span class="icon"><i class="fas fa-search"></i></span>
            <span>Search</span>
          </span>
        <% end %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Browse
          </a>

          <div class="navbar-dropdown">
            <%= link_to "All Resources", resources_path, class: "navbar-item" %>
            <%= link_to "Books", search_resources_path(type: 'Book'), class: "navbar-item" %>
            <%= link_to "Journals", search_resources_path(type: 'Journal'), class: "navbar-item" %>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if user_signed_in? %>
              <% if current_user.library_personnel? %>
                <%= link_to personnel_dashboard_path, class: "button is-light" do %>
                  <span class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                  </span>
                  <span>Dashboard</span>
                <% end %>
              <% end %>
              
              <%= button_to destroy_user_session_path, 
                  method: :delete, 
                  class: "button is-light",
                  data: { turbo: false } do %>
                <span class="icon">
                  <i class="fas fa-sign-out-alt"></i>
                </span>
                <span>Logout</span>
              <% end %>
            <% else %>
              <%= link_to new_user_registration_path, class: "button is-primary" do %>
                <span class="icon">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>Sign up</span>
              <% end %>
              
              <%= link_to new_user_session_path, class: "button is-light" do %>
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Log in</span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav> 