<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Library resource:</strong>
    <%= reservation.library_resource_id %>
  </p>

  <p>
    <strong>Reserved at:</strong>
    <%= reservation.reserved_at %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= reservation.expires_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
