<div id="<%= dom_id loan %>">
  <p>
    <strong>User:</strong>
    <%= loan.user_id %>
  </p>

  <p>
    <strong>Library resource:</strong>
    <%= loan.library_resource_id %>
  </p>

  <p>
    <strong>Loan date:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= loan.due_date %>
  </p>

  <p>
    <strong>Returned at:</strong>
    <%= loan.returned_at %>
  </p>

</div>
