<div id="<%= dom_id library_resource %>">
  <p>
    <strong>Title:</strong>
    <%= library_resource.title %>
  </p>

  <p>
    <strong>Publish year:</strong>
    <%= library_resource.publish_year %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= library_resource.language %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= library_resource.publisher %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= library_resource.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= library_resource.type %>
  </p>

</div>
