<div id="<%= dom_id journal %>">
  <p>
    <strong>Title:</strong>
    <%= journal.title %>
  </p>

  <p>
    <strong>Publish year:</strong>
    <%= journal.publish_year %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= journal.language %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= journal.publisher %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= journal.description %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= journal.volume %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= journal.issue %>
  </p>

</div>
